.center 
{
    margin: auto;
    width: 70%;
    border: 0px solid #73AD21;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
}

.centerhome {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    margin-top: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: yellow;
    color: white;
}

li a:hover:not(.active) {
    background-color: red;
    color: white;
}


.centerregistration {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    margin-top: 2%;
}

.centerview {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    margin-top: 0%;
}

.larg {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}